body{
    background-image: url('textura.jpg');
    margin: 10px;

}


.jumbotron {
    background-image: url('pearls.jpg') ;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-image: url('acua.jpg');
    margin-bottom: 0px;
    margin-top: 25px;
}

.card-man{
    background-color: moccasin;
    flex: 1 200px;
    margin-top: 15px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 15px;
}

.tab-content{
    padding-top: 30px;
}