$moccasin:#fff4e0;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}




body{
    background-image: url('textura.jpg');
    margin: 10px;

}


.jumbotron {
    background-image: url('pearls.jpg') ;
    color: black;
    @include margenes(50px, 15px);
}

footer {
    padding: 10px 10px 0 10px;
    background-image: url('acua.jpg');
    @include margenes(25px, 0px);
}

.card-man{
    background-color: $moccasin;
    flex: 1 200px;
    @include margenes(15px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 15px;
}

.tab-content{
    padding-top: 30px;
}