body {
  background-image: url("textura.jpg");
  margin: 10px;
}
.jumbotron {
  background-image: url("pearls.jpg");
  color: black;
  margin-top: 50px;
  margin-bottom: 15px;
}
footer {
  padding: 10px 10px 0 10px;
  background-image: url("acua.jpg");
  margin-top: 25px;
  margin-bottom: 0px;
}
.card-man {
  background-color: #fff4e0;
  flex: 1 200px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 15px;
}
.tab-content {
  padding-top: 30px;
}
